html {
  --color-white: #ffffff;
  --color-black: #000000;

  --color-brand-primary: #ea5b0c;
  --color-brand-secondary: #dddddd;
  --color-main-background: #ffffff;
  --color-main-text: #333333;

  --font-family: 'Inter', sans-serif;
}
