.tram-departure {
  --line-background-color-1: #ed1c24;
  --line-background-color-2: #3a89c9;
  --line-background-color-3: #947139;
  --line-background-color-4: #ffcb04;
  --line-background-color-5: #00c0f3;
  --line-background-color-S1: #1cb78d;
  --line-background-color-S11: #1cb78d;
  --line-background-color-S12: #1cb78d;
  --line-background-color-S2: #b286bc;
  --line-background-color-S4: #ae4a63;
  --line-background-color-S5: #f8b0ac;
  --line-background-color-S51: #f8b0ac;
  --line-background-color-S52: #f8b0ac;
  --line-background-color-S7: #fff460;
  --line-background-color-S8: #6e692a;
  --line-background-color-NL1: #ed1c24;
  --line-background-color-NL2: #3a89c9;

  background-color: var(--color-white);
}

.tram-departure ul {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  grid-template-rows: auto;
  align-items: center;
  gap: 18px 24px;
}

.tram-departure ul li {
  display: contents;
}

.tram-departure .line {
  justify-self: center;
  padding: 4px 8px;
  border-radius: 8px;
  text-align: center;
}

.tram-departure .line[data-line='1'] {
  color: var(--color-white);
  background-color: var(--line-background-color-1);
}

.tram-departure .line[data-line='2'] {
  color: var(--color-white);
  background-color: var(--line-background-color-2);
}

.tram-departure .line[data-line='3'] {
  color: var(--color-white);
  background-color: var(--line-background-color-3);
}

.tram-departure .line[data-line='4'] {
  color: var(--color-black);
  background-color: var(--line-background-color-4);
}

.tram-departure .line[data-line='5'] {
  color: var(--color-white);
  background-color: var(--line-background-color-5);
}

.tram-departure .line[data-line='S1'] {
  color: var(--color-white);
  background-color: var(--line-background-color-S1);
}

.tram-departure .line[data-line='S11'] {
  color: var(--color-white);
  background-color: var(--line-background-color-S11);
}

.tram-departure .line[data-line='S12'] {
  color: var(--color-white);
  background-color: var(--line-background-color-S12);
}

.tram-departure .line[data-line='S2'] {
  color: var(--color-white);
  background-color: var(--line-background-color-S2);
}

.tram-departure .line[data-line='S4'] {
  color: var(--color-white);
  background-color: var(--line-background-color-S4);
}

.tram-departure .line[data-line='S5'] {
  color: var(--color-black);
  background-color: var(--line-background-color-S5);
}

.tram-departure .line[data-line='S51'] {
  color: var(--color-black);
  background-color: var(--line-background-color-S51);
}

.tram-departure .line[data-line='S52'] {
  color: var(--color-black);
  background-color: var(--line-background-color-S52);
}

.tram-departure .line[data-line='S7'] {
  color: var(--color-black);
  background-color: var(--line-background-color-S7);
}

.tram-departure .line[data-line='S8'] {
  color: var(--color-white);
  background-color: var(--line-background-color-S8);
}

.tram-departure .line[data-line='NL1'] {
  color: var(--color-white);
  background-color: var(--line-background-color-NL1);
}

.tram-departure .line[data-line='NL2'] {
  color: var(--color-white);
  background-color: var(--line-background-color-NL2);
}
