.weather {
  background-color: var(--color-brand-secondary);
}

.weather ul {
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  grid-template-rows: repeat(3, auto);
  grid-auto-flow: column;
  align-items: center;
  justify-items: center;
  gap: 24px;
}

.weather ul li {
  display: contents;
}

.weather ul li span {
  text-align: center;
}
